In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Pokemon.csv')
df.head()

,Sr.No.,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

# GROUPING

In [3]:
grp = df.groupby('Type 1')
grp.first()

,Sr.No.,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,10,Caterpie,Flying,195,45,30,35,20,20,45,1,False
Dark,197,Umbreon,Flying,525,95,65,110,60,130,65,2,False
Dragon,147,Dratini,Flying,300,41,64,45,50,50,50,1,False
Electric,25,Pikachu,Steel,320,35,55,40,50,50,90,1,False
Fairy,35,Clefairy,Flying,323,70,45,48,60,65,35,1,False
Fighting,56,Mankey,Psychic,305,40,80,35,35,45,70,1,False
Fire,4,Charmander,Flying,309,39,52,43,60,50,65,1,False
Flying,641,TornadusIncarnate Forme,Dragon,580,79,115,70,125,80,111,5,True
Ghost,92,Gastly,Poison,310,30,35,30,100,35,80,1,False
Grass,1,Bulbasaur,Poison,318,45,49,49,65,65,45,1,False
Ground,27,Sandshrew,Rock,300,50,75,85,20,30,40,1,False
Ice,124,Jynx,Psychic,455,65,50,35,115,95,95,1,False
Normal,16,Pidgey,Flying,251,40,45,40,35,35,56,1,False
Poison,23,Ekans,Ground,288,35,60,44,40,54,55,1,False
Psychic,63,Abra,Fairy,310,25,20,15,105,55,90,1,False
Rock,74,Geodude,Ground,300,40,80,100,30,30,20,1,False
Steel,208,Steelix,Ground,510,75,85,200,55,65,30,2,False
Water,7,Squirtle,Fighting,314,44,48,65,50,64,43,1,False

# FILTERING

In [4]:
df[df["Type 2"] == "Grass"]["Name"]

51                     Paras
52                  Parasect
271                   Celebi
293                    Lotad
294                   Lombre
295                 Ludicolo
377                   Lileep
378                  Cradily
458      WormadamPlant Cloak
536           RotomMow Rotom
600                 Sewaddle
601                 Swadloon
602                 Leavanny
646                 Deerling
647                 Sawsbuck
778                 Phantump
779                Trevenant
780    PumpkabooAverage Size
781      PumpkabooSmall Size
782      PumpkabooLarge Size
783      PumpkabooSuper Size
784    GourgeistAverage Size
785      GourgeistSmall Size
786      GourgeistLarge Size
787      GourgeistSuper Size
Name: Name, dtype: object

# SORTING

In [5]:
df.sort_values(["Speed"])

,Sr.No.,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False
737,669,Flab??Fairy,NaN,303,44,38,39,61,79,42,6,FALSE,NaN
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True

# MERGING

In [8]:
data1 = {
    "pokemon" : ["Bulbasaur", "Ivysaur", "Venusaur"],
    "attack" : [49,62,82]
}

data2 = {
    "pokemon" : ["Charmander", "Charmeleon", "Charizard"],
    "attack" : [52,64,84]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

mergeddf = df1.merge(df2, how='right')
mergeddf

      pokemon  attack
0  Charmander      52
1  Charmeleon      64
2   Charizard      84